{% extends 'BaseApp/base.html' %}
{% load django_bootstrap5 %}
{% block title %}
    TEACHER LOG IN
{% endblock %}

{% block content %}
    <div class="container m-5">
        <div class="p-5 text-center">
            <form method="post" action="">
                {% csrf_token %}
                {% bootstrap_form form %}
                <p>No Account ? <a href="{% url 'base:sign_up' %}">REGISTER</a></p>
                <button type="submit" class="btn btn-success">LOG IN</button>
            </form>
        </div>

    </div>
{% endblock %}