{% extends 'BaseApp/base.html' %}
{% load django_bootstrap5 %}
{% block title %}
    INFO
{% endblock %}

{% block content %}
    <div class="container m-5">
        <div class="m-5">
            <div class="p-5">
                <div class="p-5">
                    <div class="p-4">

                        <div class="card text-center">
                            <div class="card-header ">
                                <p class="heading-1">INFORMATION</p>

                            </div>
                            <div class="card-body m-3">
                                <h5 class="display2">You are not a Teacher Yet</h5>
                                <p class="lead"> Contact Your Admin For further assistance</p>
                            </div>
                        </div>

                    </div>

                </div>
            </div>

        </div>
    </div>
{% endblock %}
